<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Tổng quan tài chính{% endblock %}</title>
    <!-- <script src="https://cdn.tailwindcss.com"></script> -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/chart.js"></script> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <!-- <link rel="stylesheet" href="https://unpkg.com/7.css"> -->
    
</head>
<body>
    <div class="logout-btn">🚪 Đăng xuất</div>
    
    {% block content %}{% endblock %}
</body>
</html>