{% extends "base.html" %}

{% block content %}
<body class="bg-white text-sm p-4 text-gray-800">
    <!-- Thanh công cụ -->
    <div class="flex justify-between items-center mb-4">
        <h1 class="font-bold text-base">Báo cáo tài chính</h1>
        <div class="flex gap-2">
            <button onclick="window.location.href='/'" class="text-gray-500 underline text-sm">
                ◀ Back
            </button>
        </div>
    </div>


    <hr class="my-4 border-gray-300">
    <div class="mb-6">
        <p class="font-semibold text-gray-700 border-b pb-1 mb-2">Thu Chi theo ngày : {{ ngay_loc }}</p>
    
        <div class="grid gap-4 sm:grid-cols-2 lg:grid-cols-4">
            {% for gd in giao_dich_theo_ngay %}
            <div class="bg-white rounded-md shadow-sm p-4 border border-gray-100">
                <!-- Tiêu đề: emoji + loại + danh mục -->
                <p class="text-sm font-semibold mb-1
                    {% if gd.loai_giao_dich == 'thu' %}
                        text-green-700
                    {% elif gd.loai_giao_dich == 'chi' %}
                        text-red-700
                    {% else %}
                        text-yellow-700
                    {% endif %}
                ">
                    {% if gd.loai_giao_dich == 'Thu' %}
                        📥
                    {% elif gd.loai_giao_dich == 'Chi' %}
                        📤
                    {% else %}
                        🔄
                    {% endif %}
                    {{ gd.loai_giao_dich | capitalize }} • {{ gd.danh_muc_obj.ten_danh_muc }} : <span class="text-sm font-bold mt-2 
                    {% if gd.loai_giao_dich == 'Thu' %}
                        text-green-600
                    {% elif gd.loai_giao_dich == 'Chi' %}
                        text-red-600
                    {% else %}
                        text-yellow-600
                    {% endif %}
                    ">{{ gd.so_tien | format_tien }}</span>
                    
                </p>
                <!-- Số tiền nằm dưới cùng -->
                
    
                <!-- Thông tin phụ: ngày, mã, nguồn -->
                <p class="text-xs text-gray-500 leading-snug">
                    {{ gd.ngay }} • Mã: {{ gd.id }}<br>
                    Nguồn: {{ gd.nguon_tien_obj.ten_nguon }}
                    {% if gd.noi_den_obj %}
                        → {{ gd.noi_den_obj.ten_nguon }}
                    {% endif %}
                </p>
    
                <!-- Ghi chú (nếu có) -->
                {% if gd.ghi_chu %}
                <p class="text-xs text-gray-400 italic mt-1">“{{ gd.ghi_chu }}”</p>
                {% endif %}

            </div>
            {% endfor %}
        </div>
    </div>
    
</body>
{% endblock %}
