{% extends "base.html" %}

{% block content %}
<!-- Container full screen để căn giữa -->
<div class="min-h-screen flex items-center justify-center bg-gray-800">
    <form method="POST" class="bg-white p-6 rounded shadow-md w-96">
        <h1 class="text-lg font-semibold mb-4">Money Browser</h2>
        
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <ul>
                    {% for category, message in messages %}
                        <li class="text-red-600 text-sm">{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}

        <div class="mb-4">
            <label class="block text-sm mb-1">Tên</label>
            <input type="text" name="username" class="w-full border rounded px-2 py-1" required>
        </div>
        <div class="mb-4">
            <label class="block text-sm mb-1">Mật khẩu</label>
            <input type="password" name="password" class="w-full border rounded px-2 py-1" required>
        </div>
        <button type="submit" class="w-full bg-blue-500 text-white py-2 rounded">Đăng nhập</button>
    </form>
</div>

{% endblock %}
