{% extends "base.html" %}

{% block content %}
<div class="container" style = "font-size: small;">
    <h2 style="text-align: center;">
        {{ tieu_de }} : Tháng
        <span 
            onclick="document.getElementById('modal-thang').style.display='flex'"
            style="cursor: pointer; text-decoration: underline dotted; color: #007bff;"
            title="Click để đổi tháng">
            {{ thang_hien_tai }}
        </span>
      </h2>
    <hr>
    <h3>{{ tieu_de_data1 }} {% if da_tinh_cuoi_ky == 0 %}
        <span style="color: red; font-style: italic;">( * chưa tính cuối kỳ)</span>
      {% endif %}</h3>
    {% if data1 %}
            <table border="1" cellpadding="4" cellspacing="0" class ="table_phan_tram_nguon_tien">
                <tr>
                    <th>Nguồn tiền</th>
                    <th>Đầu kỳ</th>
                    <th>Cuối kỳ</th>
                </tr>
                {% for row in data1 %}
                <tr>
                    <td>{{ row.ma_nguon_obj.ten_nguon }}</td>
                    <td style="text-align: right;">{{ "{:,.0f}".format(row.so_tien) }}</td>
                    {% if row.cuoi_ky %}
                        <td style="text-align: right;">{{ "{:,.0f}".format(row.cuoi_ky) }}</td>
                    {% else %}
                        <td></td>
                    {% endif %}
                </tr>
                {% endfor %}
            </table>
        {% else %}
            <p>Không có dữ liệu giao dịch.</p>
        {% endif %}
    <br>
    <a href="{{ url_for('tinh_so_du_cuoi_ky', thang=thang_hien_tai) }}"
        onclick="return confirm('Bạn có chắc muốn tính cuối kỳ cho tháng {{ thang_hien_tai }}? Dữ liệu đầu kỳ tháng sau sẽ bị cập nhật lại.')"
        style="text-decoration: none; color: #4b5563;">
        🏠 Tính cuối kỳ</a>
    <hr>
    <h3>{{ tieu_de_data }}</h3>
        {% if data %}
        {% for gd in data %}
            <div class="giao-dich {{ gd.loai_giao_dich|slugify }}">
                <a href="{{ url_for('xoa_giao_dich', id=gd.id) }}"
                    onclick="return confirm('Bạn có chắc muốn xoá giao dịch {{ gd.id }}?')"
                    style="color: #888; text-decoration: none; font-size: 12px;"
                    title="Xoá giao dịch">
                        🆔 {{ gd.id }}
                </a>

                <span class="ngay">📅 {{ gd.ngay }}</span> 
                    {% if gd.loai_giao_dich=='Thu' %} 
                        <span class ="thu"> {{ gd.loai_giao_dich }}
                    {% elif gd.loai_giao_dich=='Chi' %}
                        <span class ="chi"> {{ gd.loai_giao_dich }}
                    {% else %}
                        <span class ="chuyendoi"> {{ gd.loai_giao_dich }}
                    {% endif %}
                </span> : {{ gd.nguon_tien_obj.ten_nguon }} ➡️ {{ gd.noi_den_obj.ten_nguon }}
                <span class="so-tien">{{ "{:,.0f}".format(gd.so_tien) }}₫</span>
                <span class="ghichu">{{ gd.ghi_chu or 'Không ghi chú' }}</span>
            </div>
        {% endfor %}
        {% else %}
            <p>Không có dữ liệu giao dịch.</p>
        {% endif %}
</div>

<!-- Modal chọn tháng -->
<div id="modal-thang" class="modal-overlay">
    <div class="modal-box">
      <h3>Nhập tháng xem dữ liệu</h3>
      <form method="get" action="{{ url_for('tong_quan') }}">
        <input type="text" id="thang" name="thang" placeholder="VD: 04/2025" value="{{ thang_hien_tai }}" required>
        <div class="btn-group">
          <button type="submit" class="btn-submit">Xem</button>
          <button type="button" class="btn-cancel" onclick="document.getElementById('modal-thang').style.display='none'">Huỷ</button>
        </div>
      </form>
    </div>
  </div>

{% endblock %}